In [6]:
i = 1
while i <= 10 :
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
i = 1
while i <= 50 :
  if i%2 == 0 :
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [15]:
n =  int(input(""))
i = 1
if type(n) == int :
  for i in range(1, 11):
    print(str(n) + " * "+ str(i) + " = "+  str(n*i))

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [22]:
n = int(input(""))
flag = 0
rem = 0
while n%10 > 0 :
  flag+=1
  n=n//10


print(flag)

456
3

In [24]:
n = int(input(""))
if n%2 == 0 and n != 0 :
  print("even ")
else :
  print("odd")

23
odd

In [27]:
n = int(input(""))
if n > 0 :
  print("positive")
elif n < 0 :
  print("negative")
else :
  print("zero")

-21
negative

In [28]:
m = int(input(""))
n = int(input(""))

if (m-n) > 0 :
  print("m > n ")
elif (m-n) == 0 :
  print("equale")
else :
  print("m < n")

45
43
m > n

In [29]:
a = int(input(""))
b = int(input(""))
c = int(input(""))

if a > b and a > c :
  print("a is the greatest")
elif b > a and b> c :
  print("b is the greatest")
else :
  print("c is the greatest")

one question left

In [30]:
for i in range (1,101):
  if  i % 3 == 0 or i % 5 == 0:
    print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100